
.App{
  width: 99vw;
  height: 99vh;



}
body{
  background-image: url(https://res.cloudinary.com/zenbusiness/image/upload/v1670445040/logaster/logaster-2020-04-background-2-1024x576.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*Navbar...*/

.btn-position{
  margin-left: 10%;
  width: 80%;
  margin-left: none;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.grp-name{
  margin-top: 21px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 20px;
}

/*styling  of the all avilable button....*/

.btn{
  height: 60%;
  margin-top: 1.1%;
  width: 18%;
  border: 3px solid rgb(46, 175, 106);
  border-radius: 10px;
  background: rgb(144, 205, 38);
}


/*styling of the hover button container.*/

#button-container{
  width: 25%;
  height: 15%;
  margin-left: 39.5%;
  margin-top: 23%;
}




.hover-btn{
  height: 100%;
  width: 100%;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}



/*styling for the top position hover...*/

.top{
  height: 30%;
  width: 50%;
  margin-top: -50%;
  margin-left: 20%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  background-color: rgba(47, 162, 151, 0.786);
  
}


/*styling for the right position hover...*/


.right{
    height: 30%;
    width: 50%;
    margin-top:-22%;
    margin-left: 105%;
    padding: 6px 10px 15px 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgba(37, 144, 99, 0.868);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*styling for the down position hover...*/


.down{
  height: 30%;
  width: 50%;
  margin-top: 5%;
  margin-left: 20%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(32, 173, 159, 0.784);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*styling for the left position hover...*/


.left{
  height: 30%;
  width: 50%;
  margin-top:-22%;
  margin-left: -60%;
  padding: 6px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(24, 166, 114, 0.946);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*styling for the active  button ...*/

.active{
  background-color:rgba(165, 73, 208, 0.999) ;
}